:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-suble-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-hero-background: rgba(46, 47, 66, 0.7);
  --color-white: #ffffff;
  --color-modal-overlay: rgba(46, 47, 66, 0.4);
  --color-modal-background: #fcfcfc;
  --color-card-shadow: rgba(46, 47, 66, 0.08);
  --color-card-shadow-secondary: rgba(46, 47, 66, 0.16);
  --color-footer-input-shadow: rgba(0, 0, 0, 0.15);
  --color-card-border: #E7E9FC;
  --color-input-border: rgba(46, 47, 66, 0.4);
  --color-input-placeholder: rgba(46, 47, 66, 0.4);

  --font-family-primary: 'Roboto';
  --font-family-secondary: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-text);
  background: var(--color-white);
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
  margin-right: 76px;
  display: flex;
}

.logo__regular {
  color: var(--color-dark);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px
}

.social-list__item {
  width: 40px;
  height: 40px;
}

.social-list__item__link {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item__link:focus,
.social-list__item__link:hover {
  background-color: var(--color-pressed-state);
}

.social-list__item__link__icon {
  fill: var(--color-light);
}

.btn-primary {
  font-family: var(--font-family-primary), sans-serif;
  background: var(--color-primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:focus,
.btn-primary:hover {
  background: var(--color-pressed-state);
}


/* Header */
.header {
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__navigation__list__item__link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: var(--color-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header__navigation__list__item__link:focus,
.header__navigation__list__item__link:active,
.header__navigation__list__item__link:hover {
  color: var(--color-pressed-state);
}

.header__navigation__list__item__link__active {
  color: var(--color-pressed-state);
}

.header__navigation__list__item__link__active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-pressed-state);
  bottom: -1px;
  left: 0;
}

.header__address {
  font-style: normal;
}

.header__address__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__address__list__item__link {
  color: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address__list__item__link:focus,
.header__address__list__item__link:active,
.header__address__list__item__link:hover {
  color: var(--color-pressed-state);
}

/* Main */
.section {
  padding-block: 120px;
}

.section__title {
  color: var(--color-dark);
  text-align: center;
  margin-bottom: 72px;
}

/* Hero section */
.hero {
  position: relative;
  padding-block: 188px;
  background-image: linear-gradient(var(--color-hero-background), var(--color-hero-background)), url('../images/hero_bg.jpg');
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.hero .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  z-index: 2;
}

.hero__title {
  color: white;
  text-align: center;
  max-width: 496px;
}

/* Pillars section */
.pillars__list {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.pillars__list__item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.pillars__list__item__header {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--color-suble-text);
  background: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  height: 112px;
}

.pillars__list__item__title {
  margin-bottom: 8px;
}

/* Team section */
.team {
  background: var(--color-light);
}

.team__list {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.team__list__item {
  background: var(--color-white);
  box-shadow: 0 1px 6px var(--color-card-shadow), 0 1px 1px var(--color-card-shadow-secondary), 0 2px 1px var(--color-card-shadow);
  border-radius: 0 0 4px 4px;
}

.team__list__item__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

/* Portfolio section */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__list__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list__item:hover {
  box-shadow: 0 1px 6px var(--color-card-shadow), 0 1px 1px var(--color-card-shadow-secondary), 0 2px 1px var(--color-card-shadow);
}

.portfolio__list__item__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__list__item__img-wrapper__content {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-brand);
  padding: 40px 32px;
  color: var(--color-light);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio__list__item:hover .portfolio__list__item__img-wrapper__content {
  transform: translateY(0);
}

.portfolio__list__item__text-box {
  padding: 32px 16px ;
  border: 1px solid var(--color-card-border);
  border-top: 0;
}

.portfolio__list__item__text-box__title {
  margin-bottom: 8px;
}

/* Footer */
.footer {
  background: var(--color-dark);
  padding-block: 100px;
  color: var(--color-light);
}

.footer .logo {
  margin-right: 0;
  display: inline-block;
  margin-bottom: 16px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo__regular {
  color: var(--color-light);
}

.footer__text-column {
  margin-right: 120px
}

.footer__social-column {
  margin-right: 120px
}


.footer__form-column {
  flex: 1 1 auto;
}

.footer__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer .social-list {
  gap: 16px;
}

.footer .social-list__item__link:focus,
.footer .social-list__item__link:hover {
  background-color: var(--color-success);
}

.footer__form-column__form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__form-column__form__input-label {
  flex: 1 1 auto;
}

.footer__form-column__form__input {
  height: 40px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  padding: 8px 16px;
  background: transparent;
  color: var(--color-white);
  caret-color: var(--color-white);
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px var(--color-footer-input-shadow);
}

.footer__form-column__form__input::placeholder {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer__form-column__form__input:focus,
.footer__form-column__form__input:hover {
  border-color: var(--color-pressed-state);
}

.footer__form-column__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  min-width: 165px;
}

.footer__form-column__form__button__icon {
  fill: var(--color-white);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--color-modal-overlay);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  width: fit-content;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: var(--color-accent);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.modal__close:focus {
  background-color: var(--color-pressed-state);
  border: none;
}

.modal__close:hover .modal__close__icon,
.modal__close:focus .modal__close__icon {
  fill: var(--color-white);
}

.modal__close__icon {
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-dark);
}

.modal__form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-suble-text);
}

.modal__form__field {
  margin-bottom: 8px;
}

.modal__form__item {
  position: relative;
}

.modal__form__item__input {
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px 8px 38px;
}


.modal__form__item__input::placeholder {
  color: var(--color-input-placeholder);
}

.modal__form__item__input:focus {
  border-color: var(--color-primary-brand);
}

.modal__form__item__icon {
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.modal__form__item__input:focus+.modal__form__item__icon {
  fill: var(--color-primary-brand);
}

.modal__form__comment {
  margin-bottom: 16px;
}

.modal__form__item__textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: var(--color-modal-overlay);
  resize: none;
}

.modal__form__agreement {
  margin-bottom: 24px;
}

.modal__form__item__checkbox-text {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--color-suble-text);
  line-height: 1.17;
}

.modal__form__item__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--color-input-border);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  fill: transparent;
}

.modal__form__item__checkbox__icon {
  fill: var(--color-white);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + .modal__form__item__checkbox-text .modal__form__item__checkbox {
  background-color: var(--color-pressed-state);
  border: none;
  fill: var(--color-light);
}
input[type='checkbox']:checked + .modal__form__item__checkbox-text .modal__form__item__checkbox .modal__form__item__checkbox__icon {
  opacity: 1;
}

input[type='checkbox']:focus-visible+.modal__form__item__checkbox-text .modal__form__item__checkbox {
  outline: 2px solid var(--color-pressed-state);
  outline-offset: 2px;
}

.modal__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-primary-brand);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.form__button {
  display: block;
  margin: auto;
}
