:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-suble-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-hero-background: #2e2f42b2;
  --color-white: #ffffff;
  --color-modal-overlay: #2e2f4266;
  --color-modal-background: #fcfcfc;
  --color-card-shadow: #2E2F4214;
  --color-card-border: #E7E9FC;

  --font-family-primary: 'Roboto';
  --font-family-secondary: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-text);
  background: var(--color-white);
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.logo {
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo__regular {
  color: var(--color-dark);
}

/* Header */
.header .container {
  padding-block: 24px;
  flex-direction: row;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header__navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__navigation__list__item__link {
  font-weight: 500;
  color: var(--color-dark);
}

.header__navigation__list__item__link:focus,
.header__navigation__list__item__link:active,
.header__navigation__list__item__link:hover {
  color: var(--color-pressed-state);
}

.header__address {
  font-style: normal;
}

.header__address__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__address__list__item__link {
  color: var(--color-text);
}

.header__address__list__item__link:focus,
.header__address__list__item__link:active,
.header__address__list__item__link:hover {
  color: var(--color-pressed-state);
}

/* Main */
.section .container {
  gap: 72px;
  padding-block: 120px;
}

.section__title {
  color: var(--color-dark);
  text-align: center;
}

/* Hero section */
.hero {
  background: var(--color-dark);
}

.hero .container {
  padding-block: 188px;
  gap: 48px;
}

.hero__title {
  color: white;
  text-align: center;
}

.hero__button {
  font-family: var(--font-family-primary), sans-serif;
  background: var(--color-primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
}

.hero__button:focus,
.hero__button:hover {
  background: var(--color-pressed-state);
}

/* Pillars section */
.pillars__list {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.pillars__list__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Team section */
.team {
  background: var(--color-light);
}

.team__list {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.team__list__item {
  background: var(--color-white);
  box-shadow: 0 2px 1px 0 var(--color-card-shadow), 0 1px 1px 0 var(--color-card-shadow), 0 1px 6px 0 var(--color-card-shadow);
  border-radius: 0 0 4px 4px;
}

.team__list__item__text-box {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px
}

/* Portfolio section */
.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 40px;
}

.portfolio__list__item {
  display: flex;
  flex-direction: column;
}

.portfolio__list__item__text-box {
  padding: 32px 16px ;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--color-card-border);
  border-top: 0;
}

/* Footer */
.footer {
  background: var(--color-dark);
  padding-block: 100px;
}

.footer .container {
  align-items: start;
  gap: 16px
}

.footer .logo__regular {
  color: var(--color-light);
}

.footer__description {
  color: var(--color-light);
}

